*{
    margin: 0;
    padding: o;
}



.tribute{
    background-color: #ffffff;
    width: 100vw;
    
}

.tribute-heading{
    margin-left: 25rem;
}    

.tribute-heading > p{
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    width: 38rem;
    text-align: center;
    margin-top: 3rem;
}

.tribute-container{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    margin-top: 5rem;
    align-items: center;
    place-items: center;
}

.tribute-container-1 > img{
    width: 15rem;
    height: 13rem;
}

.tribute-container-2a{
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.tribute-container-2b{
    color: #000000;
    font-size: 1rem;
    margin-top: 2rem;
    font-family: "Inter", sans-serif;
    width: 20rem;
}

.tribute-findings{
    margin-left: 3rem;
}

.tribute-findings-1{
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
    margin-left: 5rem;
    margin-top: 3rem;
    font-family: "Inter", sans-serif;
}

.tribute-findings-2{
    font-size: 1rem;
    margin-left: 8rem;
    color: #000000;
    margin-top: 2rem;
    width: 65rem;
    font-family: "Inter", sans-serif;
    margin-bottom: 2rem;
}

/** Responsiveness **/
@media only screen and (max-width: 600px) {
    section{
        margin: auto;
    }

    .tribute{
        background-color: #ffffff;
        color: #ffffff;
    }

    .tribute-heading > p{
        font-size: 10px;
        font-weight: bold;
        color: #000000;
        width: 150px;
        font-family: "Inter", sans-serif;
        margin-top: 30px;
        text-align: left;
        margin-left: -10px;
    }

    img{
        width: 160px;
        height: 150px;
    }

    .tribute-container{
        display: inline-block;
        margin-top: 20px;
    }

    .tribute-findings-1{
        margin-left: 5px;
    }

    .tribute-findings-2{
        width: 300px;
        margin: 2px;
    }
}






